@page
@model ProyectoCiclo3.App.Frontend.Pages.EditRutaModel
@{
    var ruta = Model.Ruta;
}

<h1>Edición de Rutas</h1>
<div class="text-center">
<form method="post">
  <label for="id" class="form-label">id:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="id" asp-for="@ruta.id">
  <label for="Origen" class="form-label">Origen:</label>
  <input type="number" class="form-control" id="origen" name="origen" placeholder="Origen" asp-for="@ruta.origen">
  <label for="Destino" class="form-label">Destino:</label>
  <input type="number" class="form-control" id="destino" name="destino" placeholder="Destino" asp-for="@ruta.destino">
  <label for="Tiempo_estimado" class="form-label">Tiempo_estimado:</label>
  <input type="number" class="form-control" id="tiempo_estimado" name="tiempo_estimado" placeholder="Tiempo_estimado" asp-for="@ruta.tiempo_estimado">
  <hr>
  <button type="submit" class="btn btn-success">Guardar</button>
</form>
<a asp-page="./List" class="btn btn-primary table-btn"><i class="fas fa-undo-alt"></i></a>
</div>
